::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
}
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

@font-face {
    font-family: RooneySans;
    src: url(../fonts/RooneySans.ttf);
}

html {
    user-select: none;
}

body {
    margin: 0;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: RooneySans;
}

input, button {
    outline: none;
    border: none;
    border: 1px solid lightgrey;
    height: 25px;
}

input[type="text"], input[type="number"], input[type="password"] {
    border-radius: 0px;
    background: #ffffff;
    box-shadow: inset 1px 1px 5px #d1d1d1,
                inset -1px -1px 5px #ffffff;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #ffffff;
}

button {
    border-radius: 0px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  5px 5px 10px #d1d1d1,
                -5px -5px 10px #ffffff;
}

button:hover {
    border-radius: 0px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  5px 5px 10px #d1d1d1,
                -5px -5px 10px #ffffff;
    cursor: pointer;
}


#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

#section1 {
    bottom: 100px;
    left: 20px;
    right: 20px;
    position: absolute;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d1d1d1,
                 -5px -5px 10px #ffffff;
}

#section2 {
    top: 175px;
    left: 20px;
    right: 20px;
    position: absolute;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d1d1d1,
                 -5px -5px 10px #ffffff;
    max-height: 300px;
    min-height: 65px;
    overflow-y: scroll;
}

#section1 .header, #section2 .header {
    text-align: left;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
}

#password-header {
    font-size: 14px;
    font-weight: bolder;
    top: 20px;
    right: 195px;
    position: absolute;
}

#options {
    position: absolute;
    top: 0;
    right: 0;
}

#special-characters {
    word-spacing: 15px;
    padding-left: 50px;
    padding-top: 10px;
}

#options {
    padding-top: 10px;
    padding-right: 50px;
}

#special-characters p {
    word-spacing: 0px;
}

button {
    display: block;
}

label {
    font-size: 14px;
    font-weight: normal;
}

#length {
    width: 50px;
}

#content2 {
    padding-left: 10px;
    padding-right: 10px;
}

.show {
    float: right;
    width: 80px;
}

.password {
    float: right;
    margin-right: 20px;
}

#add {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#remove {
    position: absolute;
    top: 20px;
    right: 60px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#generate {
    position: absolute;
    right: 20px;
    top: 100px;
}

#head-bar {
    position: sticky;
    top: 0;
    height: 65px;
    width: 100%;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d1d1d1,
                 -5px -5px 10px #ffffff;
}

#heading {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: bolder;
}

#legend {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 12px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d1d1d1,
                 -5px -5px 10px #ffffff;
}

#export {
    position: absolute;
    right: 100px;
    top: 100px;
}

.username {
    margin-bottom: 20px;
    left: 20px;
}

#site-info {
    padding-top: 20px;
}

#site-info-munis, #site-info-name {
    display: inline-block;
}

#site-info-name {
    margin-left: 20px;
}

#site-info-munis {
    margin-left: 20px;
}

#site-info-name input {
    width: 200px;
}

#site-info-name label, #site-info-munis label {
    font-weight: bold;
    margin-right: 20px;    
}

#titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 716px;
    height: 31px;
    background-color: #0A0A0A;
    z-index: 1000;
    -webkit-app-region: drag;
    box-shadow: black 0px 0.5px 2px;
}

#x {
    position: fixed;
    top: 0;
    right: 0;
    width: 32px;
    z-index: 1000;
    background-color: #0A0A0A;
    color: #6b6b6b;
    padding: 5px;
    text-align: center;
    user-select: none;
    box-shadow: black 0px 0.5px 2px;
}

#x:hover {
    position: fixed;
    cursor: pointer;
    background-color: #1a1a1a;
    color: #fff;
}

#minimize {
    position: fixed;
    top: 0;
    right: 42px;
    width: 32px;
    z-index: 1000;
    background-color: #0A0A0A;
    color: #6b6b6b;
    padding: 5px;
    text-align: center;
    user-select: none;
    box-shadow: black 0px 0.5px 2px;
}

#minimize:hover {
    position: fixed;
    cursor: pointer;
    background-color: #1a1a1a;
    color: #fff;
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 8px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
}
